section {
  align-items: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 32px);
  justify-content: flex-end;
  margin: 0 16px;
}

input:not([type="submit"]) {
  flex: 1 0 100%;
  padding: 8px;
  margin: 16px 0;
  border: 3px solid #000;
  background-color: inherit;
}

input[type="submit"] {
  flex: 0 0 50%;
  background-color: #000;
  color: white;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 16px 0;
  cursor: pointer;
}

.preview-wrapper {
  position: relative;
  flex: 0 0 calc(50% - 32px);
  margin: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  section {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  form,
  .preview-wrapper {
    width: calc(100% - 32px);
  }
}
